<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>学校管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/dtree/dtree.css">
    <link rel="stylesheet" href="../../layuiadmin/style/dtree/font/dtreefont.css">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css">
    <link rel="stylesheet" href="../../layuiadmin/style/wx.css">
    <link rel="stylesheet" href="../../layuiadmin/style/formBox.css">
    <link rel="stylesheet" href="../../layuiadmin/style/table.css">
</head>

<body>
    <div class="main-article">
        <div class="func-box">
            <div class="header">操作</div>
            <div class="article">
                <button id="addBt" class="layui-btn"><i class="layui-icon layui-icon-add-circle"></i>新增学校</button>
                <button id="deleteBt" class="layui-btn"><i class="layui-icon layui-icon-delete"></i>删除学校</button>
                <button id="changeBt" class="layui-btn"><i class="layui-icon layui-icon-edit"></i>修改学校</button>
                <button id="searchBt" class="layui-btn"><i class="layui-icon layui-icon-search"></i>查找学校</button>
            </div>
        </div>
        <div class="add-box layui-anim layui-anim-scale" id="addBox">
            <div class="header">
                <div>新增学校</div>
                <div onclick="abox.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
            </div>
            <div class="form-box layui-form" lay-filter="addSchoolForm">
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">学校名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">所属市</label>
                    <div class="layui-input-block">
                        <select class="pAreaSelect" name="pArea" lay-verify="required" lay-filter="add-pa">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">所属区县</label>
                    <div class="layui-input-block">
                        <select class="areaSelect" name="area" lay-verify="required">
                            <option value="">请先选择所诉市</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="btn-box"><button class="layui-btn" onclick="addSc()">确定</button></div>
        </div>
        <div class="change-box layui-anim layui-anim-scale" id="changeBox">
            <div class="header">
                <div>修改学校</div>
                <div onclick="cbox.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
            </div>
            <div class="form-box layui-form" lay-filter="changeSchoolForm">
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" disabled name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">学校名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">所属市</label>
                    <div class="layui-input-block">
                        <select class="pAreaSelect" name="pArea" lay-verify="required" lay-filter="change-pa">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">所属区县</label>
                    <div class="layui-input-block">
                        <select class="areaSelect" name="area" lay-verify="required">
                            <option value="">请先选择所属市</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="btn-box"><button class="layui-btn" onclick="changeSc()">确定</button></div>
        </div>
        <div class="condition-box layui-anim layui-anim-scale" id="condition">
            <div class="header">
                <div>查找学校</div>
                <div onclick="cdb.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
            </div>
            <div class="form-box layui-form" lay-filter="conditionForm">
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">学校名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item input-box">
                    <label class="layui-form-label">所属区县</label>
                    <div class="layui-input-block">
                        <select class="areaSelect" name="area" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-box"><button class="layui-btn" onclick="searchSc()">确定</button></div>
        </div>
        <div class="table-box">
            <div class="header">学校</div>
            <div class="article">
                <table id="sc" lay-filter="test"></table>
                <div id="page-box"></div>
            </div>
        </div>
    </div>

    <script src="../../layuiadmin/modules/api.js"></script>
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'console']);


        layui.use(['table', 'layer', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;

            table.render({
                elem: '#sc'
                , id: 'idTest'
                , height: 470
                , data: []
                , page: true
                , cols: [[ //表头
                    { checkbox: true, width: "5%" }
                    , { field: 'id', title: 'ID', width: "5%" }
                    , { field: 'name', title: '学校名', width: "15%" }
                    , { field: 'area', title: '县/区/市', width: "15%" }
                    , { field: 'address', title: '详细地址', width: "60%" }
                ]]
            });
        })


        getAreaList('0');
        reloadTable();




        // ----------------------部分独立方法---------------------------
        function reloadTable(schoolname = '', areaid = '', page = '1') {
            let reqData = {
                schoolname,
                areaid,
                page,
                epage: '10'
            }

            api.school.getList(reqData, function (res) {
                layui.use(['table', 'layer', 'form', 'laypage'], function () {
                    var table = layui.table;
                    var layer = layui.layer;
                    var form = layui.form;
                    var laypage = layui.laypage;

                    if (res.code == '000') {
                        let tabData = [];
                        res.rows.list.forEach(item => {
                            let one = {
                                id: item.id,
                                name: item.schoolname,
                                area: item.name,
                                areaid: item.areaid,
                                areapid: item.areapid,
                                address: item.address
                            }

                            tabData.push(one);
                        })

                        if(res.opt_auth != '') {
                            let abtn = document.getElementById("addBt");
                            abtn.style.display = "none";
                        }

                        table.render({
                            elem: '#sc'
                            , id: 'idTest'
                            , height: 470
                            , data: tabData
                            , cols: [[ //表头
                                { checkbox: true, width: "5%" }
                                , { field: 'id', title: 'ID', width: "5%" }
                                , { field: 'name', title: '学校名', width: "15%" }
                                , { field: 'area', title: '县/区/市', width: "15%" }
                                , { field: 'address', title: '详细地址', width: "60%" }
                            ]]
                        });


                        laypage.render({
                            elem: 'page-box'
                            , limit: 10
                            , curr: page
                            , count: res.rows.total
                            , layout: ['prev', 'page', 'next', 'count', 'skip']
                            , jump: function (obj, first) {
                                //obj包含了当前分页的所有参数，比如：

                                //首次不执行
                                if (!first) {
                                    reloadTable(schoolname, areaid, String(obj.curr));
                                }
                            }
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                })
            })
        }


        function getAreaList(id, num = 0) {
            api.getAreaList({ pid: id }, function (res) {
                layui.use(['form', 'layer'], function () {
                    let form = layui.form, layer = layui.layer;

                    if (res.code == '000') {
                        if (id == 0) {
                            let selects = document.getElementsByClassName("pAreaSelect");

                            res.result.forEach(item => {
                                let option = document.createElement("option");

                                option.value = item.areaid;
                                option.innerHTML = item.name;


                                selects[0].appendChild(option);
                            })

                            for (let i = 1; i < selects.length; i++) {
                                selects[i].innerHTML = selects[0].innerHTML;
                            }

                            form.on('select(add-pa)', function () {
                                let data = form.val("addSchoolForm");

                                data.area = '';
                                let selects = document.getElementsByClassName("areaSelect");

                                selects[0].innerHTML = '<option value="">请先选择所属市</option>';

                                if (data.pArea) {
                                    getAreaList(data.pArea, 0)
                                }

                                form.render();
                            });

                            form.on('select(change-pa)', function () {
                                let data = form.val("changeSchoolForm");

                                data.area = '';
                                let selects = document.getElementsByClassName("areaSelect");

                                selects[1].innerHTML = '<option value="">请先选择所属市</option>';

                                if (data.pArea) {
                                    getAreaList(data.pArea, 1)
                                }

                                form.render();
                            });

                            form.render();
                        } else {
                            let selects = document.getElementsByClassName("areaSelect");

                            selects[num].innerHTML = '<option></option>';

                            res.result.forEach(item => {
                                let option = document.createElement("option");

                                option.value = item.areaid;
                                option.innerHTML = item.name;

                                selects[num].appendChild(option);
                            });

                            form.render();
                        }
                    } else {
                        layer.msg(res.msg);
                    }
                })
            })
        }


        function getPoint(str, area) {
            var myGeo = new BMapGL.Geocoder();

            let res = new Promise((resolve, reject) => {
                myGeo.getPoint(str, function (point) {
                    if (point) {
                        resolve(point);
                    } else {
                        console.log('解析失败');
                        resolve({ lng: '0', lat: '0' });
                    }
                }, area);
            });

            return res;
        }
    // ----------------------部分独立方法（结束）---------------------------
    </script>
    <script type="text/javascript"
        src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=6BpgZvZ5E6HCaDRcXDE18cDWsuNmpOwp"></script>
    <script src="../../layuiadmin/modules/add.js"></script>
    <script src="../../layuiadmin/modules/delete.js"></script>
    <script src="../../layuiadmin/modules/search.js"></script>
    <script src="../../layuiadmin/modules/change.js"></script>
</body>



</html>