<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>学生管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/dtree/dtree.css">
  <link rel="stylesheet" href="../../layuiadmin/style/dtree/font/dtreefont.css">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css">
  <link rel="stylesheet" href="../../layuiadmin/style/wx.css">
  <link rel="stylesheet" href="../../layuiadmin/style/formBox.css">
</head>

<body>
  <div class="main-article">
    <div class="func-box">
      <div class="header">操作</div>
      <div class="article">
        <button id="addBt" class="layui-btn"><i class="layui-icon layui-icon-add-circle"></i>新增公众号信息</button>
        <button id="deleteBt" class="layui-btn"><i class="layui-icon layui-icon-delete"></i>删除公众号信息</button>
        <button id="changeBt" class="layui-btn"><i class="layui-icon layui-icon-edit"></i>修改公众号信息</button>
        <button id="searchBt" class="layui-btn"><i class="layui-icon layui-icon-search"></i>查找公众号信息</button>
      </div>
    </div>
    <div class="add-box layui-anim layui-anim-scale" id="addBox">
      <div class="header">
        <div>新增公众号</div>
        <div onclick="abox.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
      </div>
      <div class="form-box layui-form" lay-filter="addWxForm">
        <div class="layui-form-item input-box">
          <label class="layui-form-label">所属学校</label>
          <div class="layui-input-block">
            <select class="scSelect" name="school" lay-verify="required">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="layui-form-item input-box">
          <label class="layui-form-label">公开ID</label>
          <div class="layui-input-block">
            <input type="text" name="wxid" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item input-box">
          <label class="layui-form-label">Token</label>
          <div class="layui-input-block">
            <input type="text" name="token" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="btn-box"><button class="layui-btn" onclick="addWx()">确定</button></div>
    </div>
    <div class="change-box layui-anim layui-anim-scale" id="changeBox">
      <div class="header">
        <div>修改公众号</div>
        <div onclick="cbox.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
      </div>
      <div class="form-box layui-form" lay-filter="changeWxForm">
        <div class="layui-form-item input-box">
          <label class="layui-form-label">ID</label>
          <div class="layui-input-block">
            <input type="text" disabled name="id" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item input-box">
          <label class="layui-form-label">所属学校</label>
          <div class="layui-input-block">
            <select class="scSelect" name="school" lay-verify="required">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="layui-form-item input-box">
          <label class="layui-form-label">公开ID</label>
          <div class="layui-input-block">
            <input type="text" name="wxid" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item input-box">
          <label class="layui-form-label">Token</label>
          <div class="layui-input-block">
            <input type="text" name="token" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="btn-box"><button class="layui-btn" onclick="changeWx()">确定</button></div>
    </div>
    <div class="condition-box layui-anim layui-anim-scale" id="condition">
      <div class="header">
        <div>查找公众号</div>
        <div onclick="cdb.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
      </div>
      <div class="form-box layui-form" lay-filter="conditionForm">
        <div class="layui-form-item input-box">
          <label class="layui-form-label">公开ID</label>
          <div class="layui-input-block">
            <input type="text" name="wxid" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="btn-box"><button class="layui-btn" onclick="searchWx()">确定</button></div>
    </div>
    <div class="table-box">
      <div class="header">公众号信息</div>
      <div class="article">
        <table id="wx" lay-filter="test"></table>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/modules/api.js"></script>
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'console']);

    layui.use(['table', 'layer', 'form'], function () {
      var table = layui.table;
      var layer = layui.layer;
      var form = layui.form;

      table.render({
        elem: '#wx'
        , id: 'idTest'
        , height: 475
        , data: []
        , page: true
        , cols: [[ //表头
          { checkbox: true, width: "5%" }
          , { field: 'id', title: 'ID', width: "5%", minWidth: 60 }
          , { field: 'school', title: '绑定机构', width: "30%", minWidth: 200 }
          , { field: 'wxid', title: '公开ID', width: "30%", minWidth: 200 }
          , { field: 'token', title: 'Token', width: "30%", minWidth: 200 }
        ]]
      });
    })

    let scMap = {};


    getScList();
    reloadTable();


    // ----------------------部分独立方法---------------------------
    function reloadTable(wxid = '') {
      layui.use(['table', 'layer', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        api.wx.getList({ wxid }, function (res) {
          if (res.code == '000') {
            let tabData = [];

            res.rows.forEach(item => {
              let one = {
                id: item.id,
                school: scMap[item.school_id],
                schoolid: item.school_id,
                wxid: item.wxid,
                token: item.token
              }

              tabData.push(one);
            })

            table.render({
              elem: '#wx'
              , id: 'idTest'
              , height: 475
              , data: tabData
              , page: true
              , cols: [[ //表头
                { checkbox: true, width: "5%" }
                , { field: 'id', title: 'ID', width: "5%", minWidth: 60 }
                , { field: 'school', title: '绑定机构', width: "30%", minWidth: 200 }
                , { field: 'wxid', title: '公开ID', width: "30%", minWidth: 200 }
                , { field: 'token', title: 'Token', width: "30%", minWidth: 200 }
              ]]
            });
          } else {
            layer.msg(res.msg);
          }
        })
      })
    }


    function getScList() {
      let reqData = {
        schoolname: '',
        areaid: '',
        page: '1',
        epage: '100'
      }

      api.school.getList(reqData, function (res) {
        layui.use(['form', 'layer'], function () {
          let form = layui.form, layer = layui.layer;

          if (res.code == '000') {
            let selects = document.getElementsByClassName("scSelect");

            res.rows.list.forEach(item => {
              let option = document.createElement("option");

              option.value = item.id;
              option.innerHTML = item.schoolname;

              scMap[item.id] = item.schoolname;

              selects[0].appendChild(option);
            })

            for (let i = 1; i < selects.length; i++) {
              selects[i].innerHTML = selects[0].innerHTML;
            }

            layui.use('form', function () {
              let form = layui.form;

              form.render("select");
            })
          } else {
            layer.msg(res.msg);
          }
        })
      })
    }
    // ----------------------部分独立方法（结束）---------------------------
  </script>
  <script src="../../layuiadmin/modules/add.js"></script>
  <script src="../../layuiadmin/modules/delete.js"></script>
  <script src="../../layuiadmin/modules/search.js"></script>
  <script src="../../layuiadmin/modules/change.js"></script>
</body>



</html>