<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>班级管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/dtree/dtree.css">
  <link rel="stylesheet" href="../../layuiadmin/style/dtree/font/dtreefont.css">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css">
  <link rel="stylesheet" href="../../layuiadmin/style/class.css">
  <link rel="stylesheet" href="../../layuiadmin/style/formBox.css">
</head>

<body>

  <div class="main-article">
    <!-- <div class="left">
      <div class="header">机构选择</div>
      <div class="tree-box">
        <ul id="demoTree" class="dtree" data-id="0"></ul>
      </div>
    </div> -->
    <div class="right">
      <div class="func-box">
        <div class="header">操作</div>
        <div class="article">
          <button id="addBt" class="layui-btn"><i class="layui-icon layui-icon-add-circle"></i>增加班级</button>
          <button id="deleteBt" class="layui-btn"><i class="layui-icon layui-icon-delete"></i>删除班级</button>
          <button id="changeBt" class="layui-btn"><i class="layui-icon layui-icon-edit"></i>修改班级</button>
          <button id="uploadClBt" class="layui-btn"><i class="layui-icon layui-icon-upload-drag"></i>导入班级信息</button>
          <button class="layui-btn"><i class="layui-icon layui-icon-form"></i>下载班级信息导入模板</button>
          <button class="layui-btn"><i class="layui-icon layui-icon-export"></i>导出班级信息</button>
        </div>
      </div>
      <div class="add-box layui-anim layui-anim-scale" id="addBox">
        <div class="header">
          <div>新增班级</div>
          <div onclick="abox.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
        </div>
        <div class="form-box layui-form" lay-filter="addClForm">
          <div class="layui-form-item input-box">
            <label class="layui-form-label">学校</label>
            <div class="layui-input-block">
              <input type="text" name="school" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item input-box">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
              <input type="text" name="grade" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item input-box">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-block">
              <input type="text" name="class" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
        </div>
        <div class="btn-box"><button class="layui-btn" onclick="addCl()">确定</button></button></div>
      </div>
      <div class="unbound-box layui-anim layui-anim-scale" id="unboundBox">
        <div class="header">
          <div id="headerTitle"></div>
          <div onclick="ubb.style.display = 'none'"><i class="layui-icon layui-icon-close"></i></div>
        </div>
        <div class="article">
          <table id="class-payment-template" lay-filter="test"></table>
        </div>
        <div class="btn-box"><button class="layui-btn" onclick="unTem()">禁用</button></button></div>
      </div>
      <div class="change-box layui-anim layui-anim-scale" id="changeBox">
        <div class="header">
          <div>修改班级信息</div>
          <div onclick="document.getElementById('changeBox').style.display = 'none'"><i
              class="layui-icon layui-icon-close"></i></div>
        </div>
        <div class="form-box layui-form" lay-filter="changeClForm">
          <div class="layui-form-item input-box">
            <label class="layui-form-label">学校</label>
            <div class="layui-input-block">
              <input type="text" name="school" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item input-box">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
              <input type="text" name="grade" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item input-box">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-block">
              <input type="text" name="class" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
        </div>
        <div class="btn-box"><button class="layui-btn" onclick="changeCl()">确定</button></button></div>
      </div>
      <div class="table-box">
        <div class="header">班级选择</div>
        <div class="tree-box">
          <ul id="demoTree" class="dtree" data-id="0"></ul>
        </div>
        <!-- <div class="article">
          <table id="payment-template" lay-filter="test"></table>
        </div> -->
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'console']);


    // --------------dtree相关----------------
    var classData = [];//重要数据，tree选中的班级信息

    var demoTree = [
      {
        id: "1",
        title: '一中',
        checkArr: "0",
        children: [
          {
            id: "11",
            parentId: "1",
            title: '高一',
            checkArr: "0",
            children: [
              {
                id: '111',
                parentId: '11',
                title: '一班',
                checkArr: '0'
              }
            ]
          },
          {
            id: "12",
            parentId: "1",
            title: '高二',
            checkArr: "0",
          },
          {
            id: "13",
            parentId: "1",
            title: '高三',
            checkArr: "0",
          },
        ]
      },
      {
        id: '2',
        title: '二中',
        checkArr: "0",
        children: [
          {
            id: "21",
            parentId: "2",
            title: '高一',
            checkArr: "0",
          },
          {
            id: "22",
            parentId: "2",
            title: '高二',
            checkArr: "0",
          },
          {
            id: "23",
            parentId: "2",
            title: '高三',
            checkArr: "0",
          },
        ]
      },
      {
        id: '3',
        title: '三中',
        checkArr: "0",
        children: [
          {
            id: "31",
            parentId: "3",
            title: '高一',
            checkArr: "0",
          },
          {
            id: "32",
            parentId: "3",
            title: '高二',
            checkArr: "0",
          },
          {
            id: "33",
            parentId: "3",
            title: '高三',
            checkArr: "0",
          },
        ]
      },
    ]

    layui.extend({
      dtree: 'style/dtree/dtree'
    }).use(['dtree', 'layer', 'jquery'], function () {
      var dtree = layui.dtree, layer = layui.layer, $ = layui.jquery;

      // 初始化树
      var DemoTree = dtree.render({
        elem: "#demoTree",
        data: demoTree, // 使用data加载
        checkbar: true,
        checkbarType: "no-all",
        checkbarFun: {
          chooseDone: function (checkbarNodesParam) {
            classData = checkbarNodesParam;
            console.log(classData);
            return;
          }
        },
      });

      // // 绑定节点点击
      // dtree.on("node('demoTree')", function (obj) {
      //   layer.msg(JSON.stringify(obj.param));
      // });
    });
    // ------------dtree相关（结束）--------------




    // ----------table组件相关------------------
    var tableDate = [
      { id: 1, name: "2021年下学期高三学费", date: "2021-8-31", end: "2021-9-10", sum: 7000 },
      { id: 2, name: "2021年下学期高三书费", date: "2021-8-31", end: "2021-9-10", sum: 1000 },
      { id: 3, name: "2021年下学期高三住宿费", date: "2021-8-31", end: "2021-9-10", sum: 2000 },
      { id: 4, name: "2021年下学期高二学费", date: "2021-8-31", end: "2021-9-10", sum: 7000 },
      { id: 5, name: "2021年下学期高二书费", date: "2021-8-31", end: "2021-9-10", sum: 800 },
    ]
    layui.use(['table', 'layer'], function () {
      var table = layui.table;
      var layer = layui.layer;

      //第一个实例
      table.render({
        elem: '#payment-template'
        , id: 'idTest'
        , height: 475
        , data: tableDate
        , page: true //开启分页
        , cols: [[ //表头
          { checkbox: true, width: "5%" }
          , { field: 'id', title: 'ID', width: "10%" }
          , { field: 'name', title: '收费项目', width: "30%", minWidth: 200 }
          , { field: 'date', title: '创建日期', width: "20%", minWidth: 100, sort: true }
          , { field: 'end', title: '结束日期', width: "20%", minWidth: 100, sort: true }
          , { field: 'sum', title: '金额', width: "15%", minWidth: 100 }
        ]]
      });
    });
    // ----------table组件相关（结束）------------------



    // --------------------部分独立方法-----------------------
    //  刷新table
    function reloadTable() {
      layui.use('table', function () {
        var table = layui.table;

        var tableDate2 = [
          { id: 1, name: "2021年下学期高三学费", date: "2021-8-31", end: "2021-9-10", sum: 7000 },
          { id: 2, name: "2021年下学期高三书费", date: "2021-8-31", end: "2021-9-10", sum: 1000 },
          { id: 3, name: "2021年下学期高三住宿费", date: "2021-8-31", end: "2021-9-10", sum: 2000 },
          { id: 4, name: "2021年下学期高二学费", date: "2021-8-31", end: "2021-9-10", sum: 7000 },
          { id: 5, name: "2021年下学期高二书费", date: "2021-8-31", end: "2021-9-10", sum: 800 },
          { id: 6, name: "2021年下学期高一书费", date: "2021-8-31", end: "2021-9-10", sum: 1200 },
        ]

        table.render({
          elem: '#payment-template'
          , id: 'idTest'
          , height: 475
          , data: tableDate2
          , page: true //开启分页
          , cols: [[ //表头
            { checkbox: true, width: "5%" }
            , { field: 'id', title: 'ID', width: "10%" }
            , { field: 'name', title: '收费项目', width: "30%", minWidth: 200 }
            , { field: 'date', title: '创建日期', width: "20%", minWidth: 100, sort: true }
            , { field: 'end', title: '结束日期', width: "20%", minWidth: 100, sort: true }
            , { field: 'sum', title: '金额', width: "15%", minWidth: 100 }
          ]]
        });
      })
    }

    // 刷新tree
    function reloadTree() {

      var demoTree2 = [
        {
          id: "1",
          title: '一中',
          checkArr: "0",
          children: [
            {
              id: "12",
              parentId: "1",
              title: '高二',
              checkArr: "0",
            },
            {
              id: "13",
              parentId: "1",
              title: '高三',
              checkArr: "0",
            },
          ]
        },
        {
          id: '2',
          title: '二中',
          checkArr: "0",
          children: [
            {
              id: "22",
              parentId: "2",
              title: '高二',
              checkArr: "0",
            },
            {
              id: "23",
              parentId: "2",
              title: '高三',
              checkArr: "0",
            },
          ]
        },
        {
          id: '3',
          title: '三中',
          checkArr: "0",
          children: [
            {
              id: "32",
              parentId: "3",
              title: '高二',
              checkArr: "0",
            },
            {
              id: "33",
              parentId: "3",
              title: '高三',
              checkArr: "0",
            },
          ]
        },
      ]

      layui.use(['dtree', 'layer', 'jquery'], function () {
        var dtree = layui.dtree,
          layer = layui.layer,
          $ = layui.jquery;

        // 初始化树
        var DemoTree = dtree.render({
          elem: "#demoTree",
          data: demoTree2, // 使用data加载
          checkbar: true,
          checkbarType: "no-all",
          checkbarFun: {
            chooseDone: function (checkbarNodesParam) {
              classData = checkbarNodesParam;
              console.log(classData);
              return;
            }
          },
        });

        // // 绑定节点点击
        // dtree.on("node('demoTree')", function (obj) {
        //   layer.msg(JSON.stringify(obj.param));
        // });
      });
    }
    // --------------------部分独立方法（结束）-----------------------
  </script>
  <script src="../../layuiadmin/modules/add.js"></script>
  <script src="../../layuiadmin/modules/delete.js"></script>
  <script src="../../layuiadmin/modules/upload.js"></script>
  <script src="../../layuiadmin/modules/change.js"></script>
</body>

</html>